.title {
  margin-bottom: 40px;
  font-size: 2rem;
  text-align: center;
}

.desc {
  font-size: 1.5rem;
  margin-bottom: 60px;
  text-align: center;
}

.container {
  /* position: relative; */
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.paragraph {
  margin-bottom: 100px;
}
.icon-container {
  margin: 0;
  box-sizing: border-box;
  display: grid;
  /* height: 100%; */
  /* height: calc(100% - 40px); */
  width: 100%;
  padding: 5px;
  gap: 100px;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-template-rows: repeat(auto-fill, 140px); /* Your number of rows */
  /* direction: rtl; */
  justify-content: center;
}
.input-box {
  margin: 10px auto;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  resize: none;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}
.not-found {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}