.container {
  position: relative;
  width: 100%;
  height: 100%;
  color: #333;
}
.broomImage {
  opacity: 0;
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 50%;
  object-fit: contain;
  object-position: center center;
  transition: 0.3s;
  z-index: -1;
}
.broomImage.active {
  opacity: 1;
  display: block;
  animation-duration: 1s;
  animation-name: brooming;
  z-index: 1001;
}
.behindImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  mix-blend-mode: multiply;
  mix-blend-mode: saturation;
  mix-blend-mode: color-burn;

  opacity: 0.2;
  mix-blend-mode: hard-light;

  opacity: 0.3;
  mix-blend-mode: overlay;
}
@keyframes brooming {
  from {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(200px) rotate(-90deg);
  }
  50% {
    transform: translateY(130px) rotate(0deg);
  }
  75% {
    transform: translateY(200px) rotate(-90deg);
  }
  to {
    transform: translateY(0px) rotate(0deg);
  }
}
.bgImageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bgImage {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2); */
  object-fit: cover;
  object-position: center center;
  /* transition: 0.1s; */
  mix-blend-mode: multiply;
}
.iconContainer {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 5px;
  gap: 15px;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-template-rows: repeat(auto-fill, 140px); /* Your number of rows */
  direction: rtl;
}

.loadingWrapper {
  position:absolute;
  left:60px;
  bottom:60px;
  width:60px;
  height:60px;
  animation: rotate 1.5s infinite;
  border-radius: 30px;
  box-sizing: border-box;
  padding:30px;
  background-color: aliceblue;
}

@keyframes rotate{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}