.title {
  width: 100%;
}
.submitter {
  width: 80%;
}
.get-item {
  display: flex;
}
.get-text {
  width: 80%;
  display: inline-block;
  resize: none;
}
.get-btn {
  width: 20%;
  display: inline-block;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow: hidden; */
}
.get-text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  resize: none;
}
.workbench {
  flex: 3;
  width: 100%;
  height: 100%;
  display: flex;
}
.item {
  height: 100%;
  width: 100%;
  flex: 1;
}
.results {
  flex: 2;
  width: 100%;
}