.container {
  width:100%;
  position:absolute;
  height:1.5rem;
  top:0px;
  left:50%;
  transform:translateX(-50%) translateY(-1.5rem);
  transition:0.2s;
  z-index: 1002;
  display:flex;
  justify-content: space-between;
}

.container.active {
  transform:translateX(-50%);
}

.bg {
  position:absolute;
  width:100%;
  height:100%;
  display:none;
  z-index: 1001;
  background-color: transparent;
}
.bg.active{
  display:block;
}

.left {
  margin-left:5px;
  display:flex;
  gap:10px;
}
.right {
  margin-right:5px;
  display:flex;
  gap:10px;
}

.items {
  display:none;
  
}

.collMenu {
  display:block;
  cursor:pointer;
  min-width:50px;
  text-align: center;
  padding: 0px 6px;
  margin:1px;
  border-radius: 3px;
}

.items.active {
  display:flex;
  flex-direction: column;
  min-width:180px;
  top: 1.6rem;
  gap:3px;
  border-radius: 6px;
  overflow:hidden;
}
.menuitem {
  flex:1;
  padding:5px;
  cursor:pointer;
}