.container {
  position:relative;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.title {
  height:16%;
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.body {
  width:100%;
  height:84%;
}

.coreContainer {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
}

.btns {
  height:10%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.topBtn {
  border-radius: 15px;
  cursor:pointer;
}

.content {
  width:100%;
  height:90%;
}
.coverParent{
  position:absolute;
  width: 100%;
  height:100%;
  top:0%;
  left:0%;
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow:hidden;
}

.createWorldContainer {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  overflow-y:auto;
}

.selectList {
  list-style: none;
  margin:0;
  padding:0;
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
  gap:20px;
  /* overflow-y:auto; */
  /* justify-content: center; */
  align-items: center;
  padding:20px;
}
.selectItem {
  width:90%;
  display:grid;
  justify-content: space-between;
  box-sizing: border-box;
  padding:20px;
  grid-template-columns: 5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  border-radius: 20px;;
}

.itemTitle {
  margin:0;
  padding:0;
  grid-row: 1 / 2;
  box-sizing: border-box;
}

.itemdesc {
  margin:0;
  padding:0;
  grid-row: 2 / 3;
  box-sizing: border-box;
}

.itemSelect {
  margin:0;
  padding:0;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  box-sizing: border-box;
}

.selectButton {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  box-sizing: border-box;
  border-radius:15px;
  cursor:pointer;
}

.itemDelete {
  margin:0;
  padding:0;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  box-sizing: border-box;
}

.signout {
  position:absolute;
  bottom:32px;
  right:32px;
  overflow:hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.selectWorldContainer {}

.selectWorldNone,
.selectWorldTitle {
  text-align:center;
  margin:10px 30px;
}
.selectWorldNone {
  margin-top:30px;
  font-style:italic;
}